META_ACCESS_TOKEN=
META_AD_ACCOUNT_ID=762597382480878
SHEET_CSV_URL=https://docs.google.com/spreadsheets/d/1MW_dyf0VOHULceCCtY7FkCR_tLCCkM6YqPY-TQd8fjI/export?format=csv&gid=1467696356
ICP_MIN_FATURAMENTO=40000
SUPABASE_URL=
SUPABASE_SERVICE_KEY=
